{% extends 'base.html' %}
{% load static %}

{% block title %} MAG Data Cloud - Customers {% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>SubType</th>
        </tr>
    </thead>
    <tbody>
        {% for c in customers %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.customer_name }}</td>
            <td>{{ c.customer_type }}</td>
            <td>{{ c.customer_sub_type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}